.social-media-platforms__link {
  margin-right: 15px;
  text-decoration: none;
}

.social-media-platforms__link:hover {
  color: #0a58ca;
}

.social-media-platforms__link img {
  display: inline-block;
}

@media (min-width: 75rem) {
  #block-drupal-cms-olivero-socialmediaplatformlinks > h2 {
    visibility: hidden;
  }
  
  .social-media-platforms__link img {
    transform: rotate(90deg);
  }
}
