.social-media-platforms__link {
  margin-right: 15px;
  text-decoration: none;
}
.social-media-platforms__link:hover {
  color: #0a58ca;
}
@media (min-width: 75rem) {
  .social-media-platforms__link img {
    display: inline-block;
    transform: rotate(90deg);
  }
}
